APP_ENV=dev
APP_CONFIG_PATH=
SPG_TELEGRAM_BOT_TOKEN=replace_me
SPG_TELEGRAM_CHAT_ID=replace_me
RTSP_CAM_01_URL=rtsp://USER:PASS@IP_ADDRESS:554/Streaming/Channels/101
RTSP_CAM_02_URL=rtsp://USER:PASS@IP_ADDRESS:554/Streaming/Channels/201
RTSP_CAM_03_URL=rtsp://USER:PASS@IP_ADDRESS:554/Streaming/Channels/301
RTSP_CAM_04_URL=rtsp://USER:PASS@IP_ADDRESS:554/Streaming/Channels/401
